<!DOCTYPE html>
<html>
<head>
    <title>Minecraft Texture Converter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Minecraft Texture Converter</h1>

    <p>
        Convert Minecraft Bedrock Texture Packs to Java Resource Packs and vice versa.
    </p>

<form action="/upload" method="POST" enctype="multipart/form-data">

    <input type="file" name="texturepack">

    <br><br>

    <button type="submit">
        Upload Texture Pack
    </button>

</form>

</body>
</html>